* {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
}

header {
    height: 207px;
    width: 100%;
    margin-bottom: 50px;
}

/* navbar */

.navbar {
    height: 92px;
    width: 100%;
    background-color: #010114;
    display: flex;
    align-items: center;
    padding: 0 166px;
    font-family: Poppins, serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #fff;
}

.menu {
    display: flex;
    gap: 16px;
    padding: 0;
    cursor: pointer;
}

.menu > li {
    list-style-type: none;
}

.logo-holder {
    margin: 0 auto;
}

.phone {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.phone > a {
    text-decoration: none;
    color: #fff;

}

/* searchbar*/

.search-part {
    width: 100%;
    height: 105px;
    padding: 0 166px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-part > div:first-child {
    font-family: Poppins, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #212529;
}

.custom-input {
    width: 252px;
    height: 56px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 15px;
    border: 1px solid #CED4DA;
    cursor: pointer;
}

.custom-input > input {
    font-family: Poppins, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #B1B1B1;
    border: none;
    outline: none;
}

/*main*/
main {
    width: 100%;
    padding: 0 166px;
}

main h1 {
    font-family: Poppins, serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    text-align: left;
    color: #010114;
    margin-bottom: 20px;
}

.content > div {
    display: flex;
}

.main-category-block {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    padding: 44px 0 44px 16px;
    background-color: #F1F1F1;
}

.main-category-block ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-category-block li {
    width: 100%;
    font-family: Poppins, serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: #010114;
    margin-bottom: 64px;
    cursor: pointer;
    display: flex;
    align-items: start;
    gap: 15px;
}

.main-category-block li:last-child {
    margin-bottom: 0;
}

.content-image-holder {
    width: 100%;
    margin-left: 30px;
}

.content-image-holder > img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center top;
}

.clickedLi {
    color: #010114;
}

/*mobile li*/
.main-category-block-mobile {
    width: 100%;
    padding: 0 24px;
    display: none !important;
}

.active-mobile {
    width: 100%;
    padding: 0;
}

.category-btn-mobile {
    width: 100%;
    min-height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    list-style-type: none;
    background-color: #F2F2F3;
    margin-bottom: 24px;
    font-family: Poppins, serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: #010114;
    cursor: pointer;
}

.rotated-image {
    transform: rotate(180deg);
    transition: transform 0.5s;
}

.sub-category-block-mobile {
    width: 100%;
    border: 1px solid #010114;
    margin: -24px 0 24px;
}

.sub-active-mobile {
    list-style: none;
    padding: 0 0 10px;
}

.sub-active-mobile li {
    margin: 8px 0;
    font-family: Poppins, serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding: 12px 24px;
    text-align: left;
    color: #010114;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-active-mobile li:first-child {
    margin-top: 0;
}

.sub-passive-mobile {
    list-style: none;
    padding: 10px 0;

}

/*mobile navbar*/

.mobile-navbar {
    display: none;
    justify-content: space-between;
    align-items: center;
}

.mobile-navbar img {
    cursor: pointer;
}

.book-btn {
    width: 120px;
    height: 54px;
    border: 1px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins, serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.menu-mobile {
    position: absolute;
    display: none;
    width: 100%;
    height: 100vh;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.3);
}

.burger-menu {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 7;
    margin: 0;
    background-color: #fff;
    list-style: none;
    padding-top: 70px;
    transition: 0.5s;
    animation-name: menu;
    animation-duration: 0.5s;
}

.burger-menu li {
    width: 100%;
    height: 54px;
    line-height: 44px;
    font-family: Poppins, serif;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: #010114;
    cursor: pointer;
    background-color: #F1F1F1;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.burger-menu li:hover, .burger-menu li:active {
    background-color: #d1d1d1;
}

#close-button {
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
}

@keyframes menu {
    from {
        margin-left: -80%;
    }
    to {
        margin-left: 0;
    }
}


@media only screen and (max-width: 1500px) {
    .main-category-block li {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 1130px) {
    .main-category-block li {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 1020px) {
    .search-part {
        padding: 0 100px;
    }

    main {
        padding: 0 100px;
    }

    .navbar {
        padding: 0 100px;
    }
}

@media only screen and (max-width: 900px) {
    .search-part {
        padding: 0 50px;
    }

    main {
        padding: 0 50px;
    }

    .navbar {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 800px) {
    .search-part {
        padding: 0 10px;
    }

    main {
        padding: 0 10px;
    }

    .navbar {
        padding: 0 10px;
    }

    .content > div {
        gap: 5px;
    }

    .menu {
        gap: 8px;
    }
}

@media only screen and (max-width: 600px) {
    #main-categories-holder {
        display: none;
    }

    .main-category-block-mobile {
        display: block !important;
    }

    header {
        height: 93px;
        background-color: #010114;
        padding: 20px 24px;
        position: relative;
    }

    .search-part {
        display: none;
    }

    .navbar {
        display: none;
    }

    h1 {
        padding: 0 24px;
    }

    .mobile-navbar {
        display: flex;
    }
}

@media only screen and (max-width: 400px) {
    .main-category-block-mobile {
        padding: 0;
    }
}